/* 
    Document   : cobranzaImprimir
    Created on : 07/06/2013, 12:19:03 AM
    Author     : Henrri
    Description:
        Purpose of the stylesheet follows.
*/

body{
    width: 800px;
    font-size: 11px;
    font-family:Arial;
    /*letter-spacing: 4px;*/
}
/*#dCabecera{
    height: 60px;
}
#dCuerpo{
    height: 240px;
    overflow: hidden;
}
#dPie{
    height: 50px;
}*/
th,td{
    /*border: 1px solid #000;*/
    vertical-align: top;
    
}
table{
    width: 100%;
}
div{
    background-color: #cccccc;
}
.top3 th{
    border-top: 3px solid #000;
    /*border-top-style: double;*/
    /*border: 3px solid #000;*/
}
.top2 th{
    border-top: 2px solid #000;
    /*border-top-style: double;*/
    /*border: 3px solid #000;*/
}
.top2 td{
    border-top: 2px solid #000;
    /*border-top-style: double;*/
    /*border: 3px solid #000;*/
}

.bottom2 th{
    border-bottom: 2px solid #000;
    /*border-top-style: double;*/
}
.bottom1 th{
    border-bottom: 1px solid #000;
    /*border-top-style: double;*/
}

