/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/07/2014, 10:46:26 AM
    Author     : Henrri
*/

.manoPuntero{
    cursor: help;
}

.fondoVentaAnulada td{
    background-color: #ff6666 !important;
}

.ventaCreditoLetraVencida td{
    background-color: tomato !important;
}

.ventaCreditoLetraPorVencer td{
    background-color: #ffcccc !important;
}
.dDatos{
    background: #F1F1F7;
    margin-top: 10px;
}
.dDatos div{
    padding: 5px;
}
.dDatos div:hover{
    background: #d0dafd;
}
.dDatos div input,label{ 
    cursor: pointer;
}